.footer {
	background: black;
	bottom: 0;
	color: white;
	justify-content: space-between;
	align-items: center;
	left: 0;
	margin-top: 10vw;
	padding: 0.7vw 5vw;
	right: 0;
	display: flex;
}

.footer > div:hover {
	cursor: default;
}

.footer .link {
	font-size: 1vw;
}

@media only screen and (max-width: 480px) {
	.footer {
		margin-top: 30px;
	}
	.footer .link {
		font-size: 12px;
	}
}
