.footer {
	align-items: center;
	background: black;
	bottom: 0;
	color: white;
	display: flex;
	justify-content: space-between;
	left: 0;
	padding: 10px 60px;
	right: 0;
}

.footer a {
	font-size: 16px;
}

.footer .logo-text:hover {
	cursor: default;
}

@media only screen and (max-width: 768px) {
	.footer {
		margin-top: 30px;
		padding: 10px 20px 30px;
	}

	.footer a {
		font-size: 12px;
		margin-right: 14px;
	}

	.footer .logo-text {
		font-size: 36px;
	}
}
