.carousel-wrapper {
	padding-top: 150px;
	padding-bottom: 150px;
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 768px) {
	.carousel-wrapper {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}
