.mint-btn {
	background: white;
	border: solid thick black;
	border-radius: 4vw;
	color: black;
	font-size: 1.5vw;
	font-weight: bold;
	padding: 1.5vw;
	margin-right: 1vw;
	transition: all 0.3s ease;
}

.mint-btn:hover {
	box-shadow: 0px 6px 5px 0px rgb(0, 0, 0, 0.4);
	transform: translateY(-4px);
	cursor: pointer;
	transition: all 0.2s ease;
}

.mint-btn:active {
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.6);
	transform: translateY(-3px);
	transition: all 0.1s;
	cursor: pointer;
}

.mint-btn-wrapper {
	display: flex;
	margin-top: 1.5vw;
	text-align: center;
	align-items: center;
}
