.count-btn {
	background: transparent;
	border: solid thin transparent;
	font-size: 2vw;
	color: black;
	transition: 0.2s;
}

.count-btn:hover {
	color: white;
	cursor: pointer;
}

.count-btn-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.mint-btn {
	background: white;
	border: solid thick transparent;
	border-radius: 4vw;
	color: black;
	font-size: 1.5vw;
	font-weight: bold;
	padding: 1.5vw;
	margin-right: 1vw;
	transition: all 0.3s ease;
	width: 80%;
	box-shadow: 0px 3px 5px 0px rgb(0, 0, 0, 0.4);
}

.mint-btn:hover {
	box-shadow: 0px 6px 5px 0px rgb(0, 0, 0, 0.4);
	transform: translateY(-3px);
	cursor: pointer;
	transition: all 0.2s ease;
}

.mint-btn:active {
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.6);
	transform: translateY(-2px);
	transition: all 0.1s;
	cursor: pointer;
}

.mint-btn-wrapper {
	display: flex;
	margin-top: 1.5vw;
	text-align: center;
	align-items: center;
	opacity: 0;
	animation-delay: 2.4s;
}

@media only screen and (max-width: 480px) {
	.count-btn {
		font-size: 22px;
	}

	.count-btn:hover {
		color: unset;
	}

	.mint-btn {
		border: solid thin transparent;
		border-radius: 50px;
		padding: 15px;
		margin-right: unset;
		width: 100%;
		font-size: 16px;
		box-shadow: 0px 4px 5px 0px rgb(0, 0, 0, 0.4);
		transform: translateY(-3px);
		cursor: pointer;
		transition: all 0.2s ease;
	}

	.mint-btn-wrapper {
		margin-top: 18px;
	}
}
