.tl-header {
	display: block;
	text-align: center;
	font-size: 36px;
	padding-bottom: 75px;
}

.tl-row {
	display: flex;
	/* justify-content: space-around; */
	align-content: center;
	padding: 0 30px;
	border-right: solid thin;
}

.tl-wrapper {
	margin: 0 auto;
	width: 80%;
	max-width: 1440px;
	min-height: 35vh;
	padding: 150px 0;
}

.tl-percent {
	flex: 1;
	font-size: 48px;
}

.tl-title {
	font-size: 20px;
	padding: 10px 0;
}

.tl-percent,
.tl-title {
	text-align: center;
}
