.block {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.block > .ctaText-wrapper {
	flex: 2;
}

.block > .img-wrapper {
	flex: 3;
}

.body-wrapper {
	width: 70%;
	margin: 0 auto;
	min-height: 70vh;
}

.connect-btn {
	border: solid 0.17vw;
	border-radius: 0.5vw;
	font-size: 1.3vw;
	margin-left: 1.2vw;
	overflow: hidden;
	padding: 1vw;
	text-align: center;
	text-overflow: ellipsis;
	transition: width 0.5s 0.1s;
	white-space: nowrap;
	width: 11vw;
}

.count-btn {
	background: transparent;
	border: solid thin transparent;
	font-size: 2vw;
	color: black;
	transition: 0.3s;
}

.count-btn:hover {
	color: white;
	cursor: pointer;
}

.count-btn-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.ctaText {
	opacity: 0;
	font-size: 1.1vw;
	font-weight: bolder;
	padding-bottom: 1vw;
}

.ctaText-wrapper {
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-right: 4vw;
}

.fadeIn {
	animation: fadeIn 0.7s forwards;
	-webkit-animation: fadeIn 0.7s forwards;
}

.fadeInUp {
	animation: fadeInUp 1s forwards;
	-webkit-animation: fadeInUp 1s forwards;
}

.header {
	position: sticky;
	top: 0;
	background: rgb(255, 161, 213);
}

.header.shadow {
	-webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	-moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5vw 3vw 1.5vw 5vw;
}

.img-wrapper {
	text-align: right;
}

.logo-text {
	font-family: "Lobster", cursive;
	font-size: 4vw;
}

.logo-text:hover {
	cursor: pointer;
}

.links {
	display: flex;
	justify-content: end;
}

.link {
	margin: 1vw;
	font-size: 1.6vw;
	margin-right: 1.5vw;
}

.external-link {
	margin-top: 1.5vw;
	text-align: left;
}

/* animations */

@keyframes fadeInUp {
	from {
		transform: translate3d(0, 20px, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@-webkit-keyframes fadeInUp {
	from {
		transform: translate3d(0, 40px, 0);
		opacity: 0;
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes pulse {
	0% {
		background: white;
	}

	70% {
		box-shadow: 0px 4px 5px 0px rgb(0, 0, 0, 0.6);
	}

	100% {
		background: white;
	}
}

/*
pallet?
#ff66ab	(255,102,171)
#8090c7	(128,144,199)
#d8d8d8	(216,216,216)
#333333	(51,51,51)
#000000	(0,0,0)
*/
