.block {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.block > div:first-child {
	flex: 2;
}

.block > div:last-child {
	flex: 3;
}

.body-wrapper {
	width: 70%;
	margin: 0 auto;
	min-height: 70vh;
}

.connect-btn {
	border: solid 0.17vw;
	border-radius: 0.5vw;
	font-size: 1.3vw;
	margin-left: 1.2vw;
	overflow: hidden;
	padding: 1vw;
	text-align: center;
	text-overflow: ellipsis;
	transition: width 0.5s 0.1s;
	white-space: nowrap;
	width: 11vw;
	transition: 0.15s;
}

.connect-btn:hover {
	cursor: pointer;
	border-color: white;
	/* transition: 0.15s; */
}

.cta-text {
	opacity: 0;
	font-size: 1.1vw;
	font-weight: bolder;
	padding-bottom: 1vw;
}

.cta-text-wrapper {
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-right: 4vw;
}

.fadeIn {
	animation: fadeIn 0.7s forwards;
	-webkit-animation: fadeIn 0.7s forwards;
}

.fadeInUp {
	animation: fadeInUp 1s forwards;
	-webkit-animation: fadeInUp 1s forwards;
}

.header {
	position: sticky;
	top: 0;
	background: rgb(255, 161, 213);
}

.header.shadow {
	-webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	-moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.7vw 3vw 0.7vw 5vw;
}

.img-wrapper {
	text-align: right;
}

.logo-text {
	font-family: "Lobster", cursive;
	font-size: 4vw;
}

.logo-text:hover {
	cursor: pointer;
}

.links {
	display: flex;
	justify-content: end;
	align-items: center;
}

.link {
	margin: 1vw;
	font-size: 1.6vw;
	margin-right: 1.5vw;
}

.external-link {
	margin-top: 1.5vw;
	text-align: left;
	text-decoration: underline;
}

.success-message {
	margin-top: 2vw;
}
/* animations */

@keyframes fadeInUp {
	from {
		transform: translate3d(0, 20px, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@-webkit-keyframes fadeInUp {
	from {
		transform: translate3d(0, 40px, 0);
		opacity: 0;
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media only screen and (max-width: 480px) {
	.block {
		display: block;
	}

	.connect-btn {
		border: solid thin white;
		border-radius: 10px;
		font-size: 14px;
		padding: 10px;
		text-align: center;
		width: 60%;
	}

	.cta-text-wrapper {
		height: unset;
		padding: 20px 0;
	}

	.cta-text {
		font-size: 16px;
		padding-bottom: 10px;
	}

	.header {
		padding: 10px;
	}

	.img-wrapper {
		padding: 60px 0 40px;
	}

	.link {
		margin: 1vw;
		font-size: 16px;
		margin-right: 14px;
	}

	.logo-text {
		font-size: 36px;
	}
}
